@scripts = {
	<script src="@routes.Assets.at("javascripts/index.js")"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<YOUR_GOOGLE_MAPS_API_KEY>&signed_in=true&libraries=places,geocoder&callback=initAutocomplete&language=en-GB" async defer></script>
}

@main("Localizr. Find places that matter!", scripts, "index") {

	<div id="inner">

		<h1 id="start">Localizr</h1>
		<div id="inner2">
			<h2>You want to visit a city? Or live there?
			Than just type it in here, and we will give you the most valuable information!</h2>
			
			<div class="search-container">
				@helper.form(action = routes.Application.index(), 'class -> "form-inline", 'id -> "search-form", 'autocomplete -> "off") {
					<input type="hidden" name="lat" id="lat">
					<input type="hidden" name="lon" id="lon">
					<input type="hidden" name="name" id="name">
				
					<h3>Great. Go ahead. What do you want to look for?</h3>
						
					<div class="row">
					  <div class="col-xs-12 col-sm-6 col-lg-8">
						<input id="autocomplete" name="qry" class="form-control form-control-lg"  placeholder="Enter your city" type="text"/>
					  </div>
					  <div class="col-xs-6 col-lg-4">
						<button class="btn btn-success" id="gobutton" type="submit">Search</button>
					  </div>
					</div>
					<div class="row row-geo">
					  <div class="col-xs-12 col-sm-6 col-lg-8">
					  </div>
					  <div class="col-xs-6 col-lg-4">
						<button class="btn btn-success" id="gogps" type="submit">Locate me</button>
					  </div>
					</div>
				}	
			</div>
			<div class="spinner-container">
			    <div class="spinner"></div>
                <p>Loading</p>
			</div>
		</div>
	</div>
	
	
    <div style="text-align: center; color: #ffffff; margin-top: 10px">
        <a id="iconSourceLink" href="#imprint">Imprint & Icon Sources</a><br>
        Brought to you by <span title="Anna Primpeli">Anna</span>, <a href="http://pfannemueller.de" title="Martin Pfannemüller">Martin</a> & <a href="https://maximilian-boehm.com" title="Maximilian Böhm">Max</a>
    </div>

    <div id="imprint" style="display:none;width: 600px; height: 400px;">
    	<h3>Imprint</h3>
    	<p>Martin Pfannemüller<br>
            Dinkelthauer Weg 2<br>
            63225 Langen<br>
            E-Mail:	&#107;&#111;&#110;&#116;&#97;&#107;&#116;&#64;&#112;&#102;&#97;&#110;&#110;&#101;&#109;&#117;&#101;&#108;&#108;&#101;&#114;&#46;&#100;&#101;<br>
            Telefon: 0176 / 320 37 267</p>
    	<h3>Icon Sources</h3>
    	<ul>
    		<li>
    			<a href="http://www.flaticon.com/free-icon/update-arrow_2046" target="_blank">Update Arrow Icon</a> made by <a href="http://www.freepik.com/" target="_blank">Freepik</a> from <a href="http://www.flaticon.com" target="_blank">www.flaticon.com</a><br>
    		</li>
    		<li>
    			<a href="http://www.flaticon.com/free-icon/election-event-on-a-calendar-with-star-symbol_48732" target="_blank">Election Event on Calendar with Star Icon</a> made by <a href="http://www.freepik.com/" target="_blank">Freepik</a> from <a href="http://www.flaticon.com" target="_blank">www.flaticon.com</a><br>
    		</li>
    		<li>
    		    <a href="http://www.flaticon.com/free-icon/wikipedia-logotype-of-earth-puzzle_48930" target="_blank">Wikipedia Logo Earth Puzzle Icon</a> made by <a href="http://www.freepik.com/" target="_blank">Freepik</a> from <a href="http://www.flaticon.com" target="_blank">www.flaticon.com</a><br>
    		</li>
    		<li>
    		    <a href="http://www.flaticon.com/free-icon/wikipedia-logo_49360" target="_blank">Wikipedia Logo Icon</a> made by <a href="http://www.freepik.com/" target="_blank">Freepik</a> from <a href="http://www.flaticon.com" target="_blank">www.flaticon.com</a><br>
    		</li>
    		<li>
    		    <a href="http://www.flaticon.com/free-icon/interest-point_2985" target="_blank">Interest Point Icon</a> made by <a href="http://www.flaticon.com/authors/stephen-hutchings" target="_blank">Stephen Hutchings</a> from <a href="http://www.flaticon.com" target="_blank">www.flaticon.com</a><br>
    		</li>
    		<li>
    		     <a href="http://www.flaticon.com/free-icon/map-marker_34468" target="_blank">Map Marker Icon</a> made by <a href="http://www.flaticon.com/authors/simpleicon" target="_blank">SimpleIcon</a> from <a href="http://www.flaticon.com" target="_blank">www.flaticon.com</a><br>
    		</li>
    	</ul>
    </div>
}
